<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if sidebar.citizenship %}
    <li class="phone"><i class="fas fa-passport"></i>{{ sidebar.citizenship }}</li>
    {% endif %}

    {% if sidebar.timezone %}
    <li class="timezone"><i class="fas fa-clock"></i>{{ sidebar.timezone }}</li>
    {% endif %}

    {% if sidebar.email %}
    <li class="email">
      <a href="mailto:{{ sidebar.email }}"><i class="fas fa-envelope"></i>{{ sidebar.email }}</a>
    </li>
    {% endif %}

    {% if sidebar.phone %}
    <li class="phone">
      <a href="tel:{{ sidebar.phone }}"><i class="fas fa-phone"></i>{{ sidebar.phone }}</a>
    </li>
    {% endif %}

    {% if sidebar.website %}
    <li class="website">
      <a href="http://{{ sidebar.website }}" target="_blank"><i class="fas fa-globe-americas"></i>{{ sidebar.website }}</a>
    </li>
    {% endif %}

    {% if sidebar.telegram %}
    <li class="telegram">
      <a href="https://t.me/{{ sidebar.telegram }}" target="_blank"><i class="fab fa-telegram"></i>{{sidebar.telegram}}</a>
    </li>
    {% endif %}
  </ul>

  <div class="contact-list contact-icons">
    {% if sidebar.linkedin %}
    <span class="linkedin">
      <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
    </span>
    {% endif %}

    {% if sidebar.xing %}
    <span class="xing">
      <a href="https://www.xing.com/profile/{{ sidebar.xing }}" target="_blank"><i class="fab fa-xing"></i></a>
    </span>
    {% endif %}

    {% if sidebar.github %}
    <span class="github">
      <a href="http://github.com/{{ sidebar.github }}" target="_blank"><i class="fab fa-github"></i></a>
    </span>
    {% endif %}

    {% if sidebar.gitlab %}
    <span class="gitlab">
      <a href="http://gitlab.com/{{ sidebar.gitlab }}" target="_blank"><i class="fab fa-gitlab"></i></a>
    </span>
    {% endif %}

    {% if sidebar.bitbucket %}
    <span class="bitbucket">
      <a href="http://bitbucket.com/{{ sidebar.bitbucket }}" target="_blank"><i class="fab fa-bitbucket"></i></a>
    </span>
    {% endif %}

    {% if sidebar.twitter %}
    <span class="twitter">
      <a href="https://twitter.com/{{ sidebar.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a>
    </span>
    {% endif %}

    {% if sidebar.stack-overflow %}
    <span class="stack-overflow">
      <a href="https://stackoverflow.com/users/{{ sidebar.stack-overflow }}" target="_blank"><i class="fab fa-stack-overflow"></i></a>
    </span>
    {% endif %}

    {% if sidebar.codewars %}
    <span class="codewars">
      <a href="https://www.codewars.com/users/{{ sidebar.codewars }}/completed_solutions" target="_blank"><i class="fas fa-code"></i></a>
    </span>
    {% endif %}

    {% if sidebar.goodreads %}
    <span class="goodreads-g">
      <a href="https://www.goodreads.com/user/show/{{ sidebar.goodreads }}" target="_blank"><i class="fab fa-goodreads-g"></i></a>
    </span>
    {% endif %}

    {% if sidebar.wordpress %}
    <span class="wordpress">
      <a href="https://{{ sidebar.wordpress }}.wordpress.com" target="_blank"><i class="fab fa-wordpress"></i></a>
    </span>
    {% endif %}

  </div>

  {% if sidebar.pdf %}
  <ul class="list-unstyled contact-list">
    <li class="pdf"><i class="fas fa-file-pdf"></i>
      <a href="{{ sidebar.pdf }}" target="_blank">Resume PDF</a>
    </li>
  </ul>
  {% endif %}

</div><!--//contact-container-->
