{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ experiences.title }}
  </h2>

  {% if experiences.intro %}
  <div class="intro no-print">
      <p>{{ experiences.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% if experiences.print %}
  <div class="intro print-only">
      <p>{{ experiences.print }}</p>
  </div><!--//print-->
  {% endif %}

  <div class="experiences-items">

  {% for experience in experiences.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">
        {% if experience.companyurl %}
          <a
            href="//{{ experience.companyurl }}"
            target="_blank"
            rel="noreferrer nofollow noopener"
            >{{ experience.company }}</a>
        {% else %}
          {{ experience.company }}
        {% endif %}
      </div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

  </div>

</section><!--//section-->
{% endif %}

