.print-only {
    display: none;
}

.print-layout .print-only {
    display: unset;
}

.print-layout .no-print {
    display: none;
}

.print-layout .details {
    display: none;
}

.print-layout .experiences-section .details {
    display: block;
    margin-left: 1em;
}

.print-layout .section-title {
    margin-bottom: 10px;
}

.print-layout .educations-section .item {
    margin-bottom: 16px;
}

.print-layout .section {
    margin-bottom: 22px;
}

.print-layout .experiences-items .item {
    display: none;
}

.print-layout .experiences-items .item:first-of-type {
    display: block;
}

.more-info {
    border-top: 1px solid #666;
    padding-top: 1ex;
    text-align: center;
}

@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 12pt;
    }
    a[href]:after {
       content: "";
    }
    abbr[title]:after {
       content: "";
    }

    img.avatar {
        filter: grayscale(1);
        -webkit-filter: greyscale(1);
    }
   .main-wrapper .time {
       float: right;
        color: black !important;
        -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 40%;
        -webkit-print-color-adjust: exact; 
    }
    .contact-container {
        padding-top: 0 !important;
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
       background-color: black !important;
       -webkit-print-color-adjust: exact; 
    }

   .fa-inverse,
   .fa-inverse:after,
   .fa-inverse:before {
     color: #ffffff !important;
   }

}
